.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(15px + 3vmin);
  color: white;
}

.App {
  background-image: url("./background.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  background-position: center;
  background-size: cover;
}

.name-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.name-area-part {
  display: flex;
  flex-direction: row;
}

.name {
  padding: 0.2rem 0;
  width: 10rem;
  text-align: center;
  font-family: 'Songti',  monospace;
  margin: 0.2rem;
}

.title {
  font-family: 'Comic Sans MS',  monospace;
  font-size: calc(20px + 5vmin);
  margin-bottom: 1rem;
}

.particles {
  position: absolute;
  width: 100%;
  height: 100%;
}

.winners {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.names-table {
  margin: 1rem;
}
